@import 'colors';

.novinky_kontejner {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.novinky_booklet {
    display: block;
    width: 100%;
    padding: 20px;
}

.okapele_konteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.okapele_fotka {
    max-width: 100%;
    padding: 20px;
}

.okapele_clenstvo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.fotky_kontejner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.fotky_image {
    display: block;
    max-width: 100%;
}


.kontakt_kontejner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kontakt_card{
    border: 2px solid $menuandstuff;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

.kontakt_fotka {
    max-width: 100%;
    padding: 20px;
}

section {
    padding: 20px 0;
}

