.novinky_booklet {
    display: block;
    width: 30%;
    padding: 20px;
}

.okapele_konteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.okapele_fotka {
    max-width: 100%;
    padding: 20px;
}

.fotky_kontejner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.fotky_image {
    display: block;
    max-width: 100%;
}

section {
    padding: 20px 0;
}