body {
    font-family: Alexandria, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.nadpis {
    font-family: Poiret One, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.line_height-2 {
    line-height: 2;
}