body {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.nadpis {
    font-family: Poiret One, Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 20px;
}

.line_height-2 {
    line-height: 2;
}

.cursive {
    font-style: oblique;
}

.font_light {
    font-weight: 400;
}

.font_bold {
    font-weight: 700;
}