
.fotky_kontejner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fotky_image {
    display: block;
    max-width: 100%;
    transition: 0.3s;
}

.fotky_image:hover, 
.fotky_image:focus {
    transform: translate(-1px, -1px);
}

.fotky_image:active {
    transform: translate(0, 0);
}

@media screen and (min-width: 1000px) {
    .fotky_kontejner
    {grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    }
}