@import 'colors';


.kontakt_card{
    border: 2px solid $menuandstuff;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
}


.kontakt_socky {
    list-style: none;
    }

.kontakt_box2 {
    border: 2px solid $menuandstuff;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
}

@media screen and (min-width: 1000px) {
    .kontakt_kontejner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .kontakt_card{
        padding: 20px;
        margin: 20px;
        border-radius: 30px;
    }

    .kontakt_box2{
        padding: 20px;
        margin: 20px;
        border-radius: 30px;
    }

}    