@import 'colors';

.kontakt_kontejner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontakt_card {
    display: inline-block;
    background-color: $darker;
    border: 2px solid $darker;
    border-radius: 20px;
    padding: 50px;
    margin: 20px 0;
    text-align: center;
    min-width: 100%;
}

.kontakt_item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.kontakt_ikona {
    display: inline-block;
    max-width: 50px;
    padding: 10px;

}
.kontakt_sockybox {
    display: flex;
    justify-content: center;
}

.kontakt_socky {
    list-style: none;
    padding: 0;
    }

.nadpis-kontakt {
    margin-top: 0;
}

@media screen and (min-width: 750px) {
    .kontakt_kontejner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        align-items: start;
    }
  
    .kontakt_card {
        max-width: 100%;
    }
}


