@import 'colors';


.kontakt_card{
    border: 2px solid $menuandstuff;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.kontakt_fotka {
    max-width: 100%;
    padding: 20px;
}

/*.kontakt_kontejner {
    display: grid;
    grid-template-columns: 1fr 2fr;
}*/
