@import 'colors';


.menu-klasik {   
    display: none;
}

.menu-ham {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0;
    background-color: $menuandstuff;
}

.menu_socky {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}


.menu_hambox {
    padding-left: 10px;
}

.menu_hamburger {
    height: 40px;
    width: 40px;
    margin-right: auto;
    position: relative;
}


.menu-off-screen {
    background-color: $menuandstuff;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.3s ease;
}

.menu_sekce-ham {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
    list-style: none;
    padding-right: 30px;
    padding-top: 30px;
}

.menu-off-screen.active {
    left: 0;
}

.menu_hamburger span {
    height: 5px;
    width: 100%;
    background-color: $black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
}


.menu_hamburger span:nth-child(1) {
    top: 25%;
}

.menu_hamburger span:nth-child(3) {
    top: 75%;
}

.menu_hamburger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.menu_hamburger.active span:nth-child(2) {
    opacity: 0;
    
}
.menu_hamburger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

.menu_hamburger.hover span {
    background-color: $hoverandstuff
}

.menu_link {
    display: inline-block;
    text-decoration: none;
    color: $black;
}

.menu_link:hover,
.menu_link:focus {
    color: $hoverandstuff
}

.menu_item {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 0 10px
}

.menu_item-ham {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.menu_ikona {
    display: inline-block;
    max-width: 30px;
    transition: 0.3s ease;
}

.menu_ikona:hover,
.menu_ikona:focus {
    transform: translate(-1px, -1px);
}

.menu_ikona:active {
    transform: translate(0, 0);
}



@media screen and (min-width: 1055px) {

    .menu-ham {
        display: none;
    }

    .menu-klasik {
        background-color: $menuandstuff;
        display: grid;
        grid-template-columns: 4fr 1fr;
        position: sticky;
        top: 0;
    }

    .menu_sekce {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        margin: 0;
        list-style: none;
    }


}


