@import 'colors';

.menu_ikona{
    display: block;
    max-width: 30px;
    transition: transform(0,8s);
}

.menu {
    background-color: $menuandstuff;
    display: none;
}

.menu_socky {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menu_menu {
    list-style: none;
    text-align: center;
    margin: 0;
}

.menu_link{
    text-decoration: none;
    color: $black;
}

.menu_link:hover,
.menu_link:focus {
    color: $potencila3
}

.menu_ikona:hover,
.menu_ikona:focus {
    transform: translate(-1px, -1px);
}

.menu_ikona:active {
    transform: translate(0, 0);
}



.off-screen-menu {
    background-color: $menuandstuff;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
}

.off-screen-menu.active {
    right: 0;
}

.nav {
    padding: 1rem;
    display: flex;
    background-color: $black;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: $potencila3;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);

}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
    
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
    
}
@media screen and (min-width: 1000px) {

    .ham-menu {
        display: none;
    }

    .off-screen-menu {
        display: none;
    }

    .menu {
        display: grid;
        grid-template-columns: 2fr 1fr;
        position: sticky;
        top: 0;
    }
    .menu_item {
        display: inline-block;
        font-size: 20px;
        margin: 0 10px
    }

    .menu_menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        margin: 0;
    }


}