@import 'colors';


.novinky_booklet {
    display: block;
    width: 100%;
    padding: 20px 20px 20px 0;
}

.novinky_fotka {
    display:block;
    max-width: 100%;
}

@media screen and (min-width: 500px) {
  
    .novinky_booklet {
        max-width: 50%;
        float: left;
    }
}

@media screen and (min-width: 900px) {
    .novinky_kontejner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .novinky_booklet {
        max-width: 100%;
    }

}


@media screen and (min-width: 1100px) {
    .novinky_kontejner {
        grid-template-columns: 1fr 2fr;
    }

   
}