
.okapele_fotka {
    max-width: 100%;
    padding: 20px;
    display: none;
}

@media screen and (min-width: 1000px) {
    .okapele_konteiner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .okapele_fotka {
        display: block;
    }

}