@use 'menu';
@use 'header';
@use 'footer';
@use 'links';
@use 'kontakt';
@use 'okapele';
@use 'clenstvo';
@use 'novinky';
@use 'fotky';
@use 'font';
@import 'colors';



html {
    box-sizing:border-box;
    scroll-behavior: smooth;
}
*, ::before, ::after{box-sizing:inherit;}

body{
    background-color: $black;
    color: $basic-font;
    width: 100vw;
    margin: 0 auto;
    max-width: 1800px;
}

.body_kontejner {
    padding: 0 20px;
}

section {
    padding: 30px 0;
}



@media screen and (min-width: 1000px) {
    .body_kontejner {
        padding: 50px;
    }


}



